<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>gm_promotion</name>
    <displayName><![CDATA[GM_Promotion]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Displays promotion products on your shop.]]></description>
    <author><![CDATA[goldminer1030]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>