/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 @font-face {
  font-family: 'bebasregular';
  src: url('bebas-webfont.woff2') format('woff2'),
        url('bebas-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuebold';
  src: url('bebasneue_bold-webfont.woff2') format('woff2'),
        url('bebasneue_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuebook';
  src: url('bebasneue_book-webfont.woff2') format('woff2'),
        url('bebasneue_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.row {
  margin-right: 0;
  margin-right: 0;
}

.text-center {
  text-align: center;
}

body {
  background-image: url("../img/background-fisherman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans';
}

body, html {
  height: auto;
}

#header,
#wrapper {
  background: transparent;
}

#header .header-nav {
  margin-bottom: 0;
  border-bottom-color: transparent;
  border-bottom: none;
}

#wrapper {
  box-shadow: none;
}

@media (min-width: 576px) {
  .page-wrapper {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .page-wrapper {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .page-wrapper {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .page-wrapper {
    width: 1140px;
    max-width: 100%;
  }
}
@media (min-width: 1316px) {
  .page-wrapper {
    width: 1256px;
    max-width: 100%;
  }
}
.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.footer-container {
  box-shadow: none;
}

.bg-main {
  background-color: #fbfbfb;
}

.top-title {
  max-width: 310px;
  margin: auto;
  padding-top: 45px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #007f00;
}

.no-padding {
  padding: 0;
}

.top-gap-sm {
  margin-top: 30px;
}

.header-contact-wrapper {
  margin-bottom: 3px;
}
.header-contact-wrapper .header-contact-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.header-contact-wrapper .header-contact-detail {
  display: inline-block;
  width: calc(100% - 35px);
  vertical-align: middle;
  font-size: 13px;
  letter-spacing: 1.3px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  color: #605f5f;
}
.header-contact-wrapper .header-contact-detail a,
.header-contact-wrapper .header-contact-detail strong {
  font-weight: bold;
}

.sponsor-bar {
  padding-top: 19px;
}
.sponsor-bar .sponsor-bitmap {
  margin: 5px;
}

.featured-products .products-section-title {
  font-family: 'bebas_neuebold';
  font-size: 52px;
  letter-spacing: 2.6px;
  text-align: center;
  color: #1d4a42;
}